{% extends 'managevehicle/main.html' %}
{% load static%}
{% block content %}

<div class="container">
    <h4>{{message}}</h4>
</div>
<br>
<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 45%;
        padding: 10px;
        height: 600px;
        /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
        .column {
            width: 100%;
        }
    }
</style>


<div class="row">
    <div class="column mx-5" style="background-color:#aaa;">
        <center>
            <form method="POST" action="">
                {% csrf_token %}
                <h6>Vehicle type : {{form.vehicle_type}}</h6><br>
                <h6>Owner name : {{form.owner_name}}</h6><br>
                <h6>Vehicle number : {{form.vehicle_number}}</h6><br>
                <h6>Phone number : {{form.phone_number}}</h6><br>
                <h6>Slot : {{form.slot}}</h6><br>
                <h6>Validity time : {{form.valid_time}}</h6><br>
                <h6>Slot active : {{form.slot_active}}</h6><br>
                <input type="submit" name="Submit">
            </form>
        </center>
    </div>
    <div class="column mx-4" style="background-color:#bbb;">
        <div class="column">
            <center>
                <h4>Slot which are free to parking vehicle :</h4>
                {% for i in choice %}
                <p>{{i}}</p>
                {% endfor %}
            </center>
        </div>
    </div>
</div>
{% endblock %}