<script>

		var MONTHS = ['Today'];
		var barChartData_today = {
			labels: MONTHS,
			datasets: [{
				label: 'Four Wheeler ',
				backgroundColor: 'red',
				borderColor: 'red',
				borderWidth: 1,
				data: {{four_today}}
				}, {
				label: 'Two Wheeler',
				backgroundColor: 'blue',
				borderColor: 'blue',
				borderWidth: 1,
				data: {{two_today}}
			},{
				label: 'Bicycle',
				backgroundColor: 'yellow',
				borderColor: 'yellow',
				borderWidth: 1,
				data: {{bicy_today}}
			}
			]

		};

		


	</script>